<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<insert id="insertInstructor" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into lms_instructor (name, email)
		values (#{name}, #{email})
	</insert>
	
	<insert id="insertStudent" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into lms_student (name, email)
		values (#{name}, #{email})
	</insert>
	
	<select id="getInstructorName" resultType="String">
		select name from lms_instructor where id=#{id}
	</select>
	
	<select id="getStudentName" resultType="String">
		select name from lms_student where id=#{id}
	</select>
	
	<select id="getInstructorID" resultType="int">
		select id from lms_instructor where email=#{email}
	</select>
	
	<select id="getStudentID" resultType="int">
		select id from lms_student where email=#{email}
	</select>
	
</mapper>