<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Stu_Video">
	
	<select id="getVideoList" resultType="video">
		select * from lms_video left join lms_videoCheck on lms_video.id = lms_videoCheck.videoID
		where lms_video.playlistID=#{playlistID} 
		order by seq ASC
	</select>

</mapper>